<nz-table #basicTable [nzData]="expenses">
  <thead>
    <tr>
      <th>number</th>
      <th>amount</th>
      <th>description</th>
      <th>catogory</th>
      <th>date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>1</td>
      <td>{{ data.amount }}</td>
      <td>{{ data.description }}</td>
      <td>{{ data.category.name }}</td>
      <td>{{ data.date }}</td>
      <td>
        <button nz-button nzType="default" (click)="showModal()">update</button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="default" (click)="showDeleteConfirm()">delete</button>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()">
  <ng-template #modalTitle>
    Update Expense
  </ng-template>

  <ng-template #modalContent>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>amount</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="amount" id="amount" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">description</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="description" id="description" />
        </nz-form-control>
      </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>date</nz-form-label>
          <nz-form-control [nzSm]="16" [nzXs]="24">
            <nz-date-picker formControlName="datePicker"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      <nz-form-item>
      <nz-form-label [nzSpan]="5" nzFor="category" nzRequired>Gender</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="Please select the category!">
          <nz-select
            id="category"
            formControlNagenderme="category"
            nzPlaceHolder="Select a option"
          >
            <nz-option *ngFor="let data of category" [nzValue]="data.id" [nzLabel]="data.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 16, offset: 8 }">
          <button nz-button nzType="primary">Submit</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">Submit</button>
  </ng-template>
</nz-modal>