<form nz-form [formGroup]="validateForm" >
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>amount</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input id="amount" [(ngModel)]="newExpense.amount" [ngModelOptions]="{standalone: true}"
        value="{{newExpense.amount}}" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>description</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input id="description" [(ngModel)]="newExpense.description"
        [ngModelOptions]="{standalone: true}" value="{{newExpense.description}}" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>date</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-date-picker [(ngModel)]="date" [ngModelOptions]="{standalone: true}"
        (ngModelChange)="onChangeDate($event)"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>catogory</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-select [(ngModel)]="selectedCategory" [ngModelOptions]="{standalone: true}"
        (ngModelChange)="onChangeCategory($event)">
        <nz-option *ngFor="let data of categories" [nzValue]="data" [nzLabel]="data.name"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
  <button nz-button class="form-margin" nzType="primary" (click)="submitForm()">Submit</button>
</nz-form-item>
</form>